.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.header {
    background-color: #242424;
    padding: 20px 0;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link-item,
.image-logo,
.link-item-lastChild {
    text-decoration: none;
    color: #fff;
    letter-spacing: 1.6px;


}

.link-item,
.link-item-lastChild {
    padding-right: 50px;
    font-size: 18px;
    margin: 0 20px;
}

.image-logo {
    font-size: 25px;
}

/* header */

.host-card {
    padding-top: 100px;
    padding-bottom: 100px;
    baackground-color: #6E9CFF;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-item {
    width: 250px;
    height: 300px;
    background-color: #fff;
    margin-right: 30px;
    margin-bottom: 40px;
    box-shadow: 7px 7px 0 #3C93D5;

}

.contact {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
}

.contact-box {
    display: flex;
    justify-content: center;
}

.box-item {
    padding-right: 40px;
    text-decoration: none;
    color: #6E9CFF;
    text-transform: uppercase;
    font-size: 20px;
}

.card-item:hover {
    box-shadow: none;
    transition: 0.8s;
    transform: translate(5px, 5px);
}

.card-item:hover:after {
    width: 100%;
    height: 3px;
    left: 0;
    transition: all .5s linear;
}

.card-item:hover {
    transition: background .4s ease-in-out;
    color: red;
}

.card-item:after {
    content: "";
    border-bottom: 3px solid red;
    display: block;
    width: 0px;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.box {
    display: flex;
    justify-content: center;
}

#card-item {
    width: 250px;
    height: 300px;
    background-color: #fff;
    margin-right: 30px;
    margin-bottom: 40px;
    box-shadow: 7px 7px 0 #3C93D5;
    text-align: center;
}